<div class="container">
	<h1>Hello, <%= @user.first_name %>!</h1>
	
	<%= link_to("Update Your Profile", edit_user_registration_path) %>

	<div>
		<%= link_to("Add a new journal", new_user_journal_path(@user.id), method: :get) %>
	</div>

	<div><h2>Your Journals:</h2>  
		<% @user.journals.each do |journal| %>
			<h4><%= link_to journal.title, user_journal_path(@user.id, journal.id) %> - <small><%= journal.description %></small></h4>
		<% end %>

	</div>

</div>
