<div class="container">
	<h1><%= @journal.title %> - <small><%= @journal.description %></small></h1>
	<small>Created <%= time_ago_in_words(relative_time(@journal)) %> ago</small>
	
	<%= button_to "Edit this journal", edit_user_journal_path, method: :get, class: "btn btn-primary" %>
	<br>
	<%= button_to "Delete this journal", user_journal_path, method: :delete, class: "btn btn-danger" %>
	<div>Placeholder: All This Journal's Moments</div>

</div>
