<div class="container">
	<%= link_to "Back", user_path(@user.id), class: "back-btn" %>
	<h1 class="journal-title"><%= @journal.title %></h1>  
	<small><em>Created <%= time_ago_in_words(relative_time(@journal)) %> ago</em></small>
	<h3 class="journal-description"><%= @journal.description %></h3>
	<%= link_to "Edit Journal", edit_user_journal_path, method: :get %> | 
	<%= link_to "Delete Journal", user_journal_path, data: { confirm: "Are you sure?" }, method: :delete %>
	<div>
		<div>
			<%= link_to "Add a New Moment", new_user_journal_moment_path(@user.id, @journal.id), method: :get %>
		</div>

		<div class="row">
		<% @moments.each do |moment| %>

			
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail moment-card">	
						<% if moment.photo != nil && moment.photo != "" %>
							<%= image_tag(moment.photo, class: "img-rounded") %>
						<% end %>	
						<div class="caption">		
							<h3 class="moment-title"><%= moment.title %></h3>
							<small><em>Created <%= time_ago_in_words(relative_time(moment)) %> ago</em></small>
							<p class="moment-text"><%= moment.description %></p>
							<div class="edit-delete">						
								<%= link_to "Edit Moment", edit_user_journal_moment_path(@user.id, @journal.id, moment.id), method: :get, class: "small" %> | 
								<%= link_to "Delete Moment", user_journal_moment_path(@user.id, @journal.id, moment.id), data: { confirm: "Are you sure?" }, method: :delete, class: "small" %>
							</div>
							<div class="share-link">							
								<% if moment.public %>
									You can <%= link_to "share", user_journal_moment_path(@user.id, @journal.id, moment.id) %> this moment! 
								<% end %>
							</div>
						</div>
					</div>
				</div>
		<% end %>
		</div>
		<div>
			<%= paginate(@moments) %>	
		</div>
	</div>
</div>
