<div class="container">
	<h1>Add a New Moment</h1>
	
	<%= form_for [@user, @journal, @moment] do |f| %>
		<div class="form-group">
			<%= f.text_field :title, placeholder: "Moment title", class: "form-control", required: true %>
		</div>

		<div class="form-group">
			<%= f.text_area :description, placeholder: "Start a memory", class: "form-control", required: true, maxlength: 500 %>
		</div>

		<div>
		    <input type="hidden" role="uploadcare-uploader" name="moment[photo]"
		        data-crop="1:1"
		        data-preview-step="true"
		        data-images-only="true" />
		</div>
		<br>
		<div class="checkbox">
			<label>
				<%= f.check_box(:public) %>Make this moment sharable? 
			</label>
		</div>
		<%= f.hidden_field :user_id, value: @user.id %>
		<%= f.hidden_field :journal_id, value: @journal.id %>
		<div>
			<%= f.submit "Create New Moment", class: "btn btn-xs btn-primary" %>
		</div>
	<% end %>

</div>
