<div class="container">
	
	<% if @moment.photo != nil && @moment.photo != "" %>
		<%= image_tag(@moment.photo, height: '100', width: '100', class: "pull-left") %>
	<br>
	<% end %>
	<h1><%= @moment.title %></h1>
	<p><%= @moment.description %></p>
	<br>
	<%= button_to "Edit Moment", edit_user_journal_moment_path, method: :get, class: "btn btn-xs btn-primary" %>
	<br>
	<%= button_to "Delete Moment", user_journal_moment_path, method: :delete, class: "btn btn-xs btn-danger" %>
	
</div>
