<!DOCTYPE html>
<html>
<head>
  <title>Moment</title>
  <script>
       UPLOADCARE_LOCALE = "en";
       UPLOADCARE_TABS = "file url facebook gdrive instagram flickr";
       UPLOADCARE_PUBLIC_KEY = "4af499d15b06952922d0";
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script charset="utf-8" src="//ucarecdn.com/widget/2.5.5/uploadcare/uploadcare.full.min.js"></script>
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic' rel='stylesheet' type='text/css'>

  <meta property="og:url"           content="localhost:3000" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Moment" />
      <meta property="og:description"   content="Moment is a micro-diary that allows you to record your most precious moments." />
      <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

</head>


<body>

	<%= render "partials/navbar" %>

	<div class="container">
		<% flash_messages %>
	</div>

<%= yield %>

</body>
</html>
